.divider {
  width: 110%;
  margin-left: -5%;
  height: 10px;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  width: 100%;
}

.button-wrapper {
  position: fixed;
  bottom: 90px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}
