.container {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px;
  min-width: 160px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  border: 1px solid #d9d9d9;
  gap: 8px;
}

.content {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.like {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  & > button {
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.image {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  flex-grow: 1;
}
