.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.image {
  width: 100%;
  height: 250px;
  background-color: #d9d9d9;
}

.title {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.svg {
  background: transparent;
  border: none;
}

.inquiry {
  width: 40%;
}
