.container {
  display: flex;
  justify-content: space-around;
}

.button {
  border: 1px solid #d9d9d9;
  color: #00000090;
  font-size: 14px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
